[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest/
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparty/gperftools"]
	path = thirdparty/gperftools
	url = https://github.com/stdpain/gperftools
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/google/glog
